.idea
/target
*.iml
/lib
# Project exclude paths
/AppData/Local/Discord/app-1.0.9001/modules/discord_spellcheck-1/discord_spellcheck/node_modules/
/AppData/Local/Discord/app-1.0.9001/modules/discord_utils-1/discord_utils/node_modules/
/AppData/Local/Discord/app-1.0.9001/modules/discord_voice-3/discord_voice/node_modules/